    <div class="row">
      <div class="featured-image-banner bg-img d-flex align-items-center justify-content-center">
        <h1 class="width-limiter col page-title pt-3 pb-3 m-0">Current Courses</h1>
      </div>
    </div>
    <div class="width-limiter pt-3 pb-3">
      <div class="mb-3"><a routerLink="/"><i class="fa fa-arrow-left"></i> Back home</a></div>
      <div class="list-group">
        <div *ngFor="let course of courses" class="list-group-item d-flex list-item-course">
          <div class="col">
            <a routerLink="/table/courses/{{course._id}}"> <i class="fa fa-file"></i>
            {{course.title}}
            </a>
          </div>
          <div class="col-auto">
            <a routerLink="/courses/{{course._id}}/quizzes" >Quizzes</a>
          </div>
        </div>
    </div>
  </div>

