    <div class="row">
      <div class="featured-image-banner bg-img d-flex align-items-center justify-content-center">
        <h1 class="width-limiter col page-title pt-3 pb-3 m-0">Current Courses</h1>
      </div>
    </div>
    <div class="width-limiter pt-3 pb-3">
      <div class="mb-3"><a routerLink="/"><i class="fa fa-arrow-left"></i> Back home</a></div>
      <div class="list-group">
        <a *ngFor="let course of courses" href="/table/courses/{{course._id}}" class="list-group-item list-group-item-action text-primary"> <i class="fa fa-file"></i>
          {{course.title}}
        </a>
    </div>
  </div>

