<div class="quiz-question">
  <h4>{{question.question}}
    <span class="grade-result" [hidden]="!graded">
      <i [hidden]="!result" class="fa fa-check text-success"></i>
      <i [hidden]="result" class="fa fa-close text-danger"></i>
    </span>
  </h4>
  <div class="list-group mt-3">
      <label class="mb-0 list-group-item
      {{!graded ? 'list-group-item-action' : ''}}
      {{graded && question.correct === 'true' ? 'correct-response' : ''}}
      {{graded && question.correct !== 'true' && answer === 'true' ? 'incorrect-response' : ''}}">
      <input
        [(ngModel)]="answer"
        type="radio"
        value="true"
        disabled="{{graded}}"
        name="{{question._id}}"/> TRUE
        <span class="answer-reveal" [hidden]="!graded || (answer !== 'true' && question.correct !== 'true')">
          <i [hidden]="question.correct !== 'true'" class="fa fa-check text-success float-right"></i>
          <i [hidden]="question.correct !== 'false'" class="fa fa-close text-danger float-right"></i>
      </span>
    </label>
    <label class="mb-0 list-group-item {{!graded ? 'list-group-item-action' : ''}}
      {{graded && question.correct === 'false' ? 'correct-response' : ''}}
      {{graded && question.correct !== 'false' && answer === 'false' ? 'incorrect-response' : ''}}">
      <input
        [(ngModel)]="answer"
        type="radio"
        value="false"
        disabled="{{graded}}"
        name="{{question._id}}"/> FALSE
      <span class="answer-reveal" [hidden]="!graded || (answer !== 'false' && question.correct !== 'false')">
          <i [hidden]="question.correct !== 'false'" class="fa fa-check text-success float-right"></i>
          <i [hidden]="question.correct !== 'true'" class="fa fa-close text-danger  float-right"></i>
      </span>
    </label>
  </div>
  <div class="mt-3 mb-3">
    Your answer: {{answer && answer.toUpperCase()}}
  </div>
  <button class="btn btn-success" (click)="submitAnswer()" type="submit">Grade</button>
</div>
