<div class="width-limiter">
  <h1 class="mt-4 mb-4">Quizzes</h1>
  <ul class="list-group">
    <li *ngFor="let quiz of quizzes" class="list-group-item">
      <div class="row align-items-center justify-content-between mb-3">
        <div class="col-auto">
          <a routerLink="/courses/{{courseId}}/quizzes/{{quiz._id}}">
            {{quiz.title}}
          </a>
        </div>
        <div class="col-auto">
          <a class="btn btn-primary"
             routerLink="/courses/{{courseId}}/quizzes/{{quiz._id}}">
            Start </a>
        </div>
      </div>
      <div class="attempts-section">
        <div class="pb-2">Total Attempts: {{quiz.attempts ? quiz.attempts.length : 0}}</div>
          <ul class="row m-0 list-unstyled">
            <li *ngFor="let attempt of quiz.attempts; let i = index" class="col-auto m-0 pb-2 pl-0 pr-3">
              Attempt {{i+1}}:  <span class="text-score
               {{attempt.score <= 65 ? 'text-danger' : null}}
               {{attempt.score >= 85 ? 'text-success' : null}}">{{attempt.score.toFixed(0)}}%</span>
            </li>
          </ul>
      </div>
    </li>
  </ul>
</div>
